name: Build

on: 
  push:
    tags:
      - "v*"

  workflow_dispatch:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Build wheels for Python 3.14
        uses: pypa/cibuildwheel@v2.23.0
        env:
          CIBW_SKIP: "*-macosx_* *-win32 *-win_amd64"
          CIBW_BUILD: "cp314-manylinux_x86_64 cp314-manylinux_aarch64 cp314-win_amd64 cp314-macosx_x86_64 cp314-macosx_arm64
"
          CIBW_ARCHS_LINUX: "aarch64"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  # Build the source distribution under Linux
  build_sdist:
    name: Source distribution
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Checkout submodule
        run: git submodule update --init py_slvs

      - name: Build source distribution
        run: |
            pip install scikit-build
            pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          path: ./dist/*.tar.gz
